body {
  font-family: -apple-system;
  font-size: 90%;
  color: #333;
}

#topDiv{

}

div{
display:block;
}
#tableDiv {
  max-width: 80%;
  max-height:80%;
  overflow: scroll;
}
table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  table-layout: fixed;
  width: 200px;
}

td, th {
  white-space: nowrap;
  border: 1px solid #ddd;
  padding: 20px;
  width: 200px;
  overflow: hidden;
}
th {
  background-color: #eee;
  position: sticky;
  top: -1px;
  z-index: 2;
}
.hiddenID{

}
#categorySelect{
width:100px;
height:50px;
}
