body {
  font-family: -apple-system;
  font-size: 90%;
  color: #333;
}

div{
display:block;
}
#tableDiv {
    height:900px;
  max-width: 90%;
  overflow: scroll;
}
table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  table-layout: fixed;
}

td, th {
  white-space: nowrap;
  border: 1px solid #ddd;
  padding: 20px;
  width: 200px;
  overflow: hidden;
}
th {
  background-color: #eee;
  position: sticky;
  top: -1px;
  z-index: 2;
}
.hiddenID{

}
#categorySelect{
width:100px;
height:50px;
}
#updateImg{
    color:red;
    height:50px;
    width:100px;
}
