<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link th:href="@{/stylesheet.css?version=21}" rel="stylesheet"/>
<script type="text/javascript" th:src="@{/script.js?version=21}"></script>
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<!-- Navigation icon -->
<div class="nav-icon" onclick="toggleNavMenu()">
    <i class="fas fa-bars"></i>
</div>

<!-- Navigation menu -->
<div class="nav-menu" id="navMenu">
    <i class="fas fa-times close-icon" onclick="toggleNavMenu()"></i>
    <a  href="/login"> <button class="button2 logoutBtn">Logga Ut</button> </a>
    <a  href="/admin"> <button class="button2">Till Admin</button> </a>
    <a href="/votes">  <button class="button2">Till Röster Lista</button> </a>
    <a href="/results"> <button class="button2">Till Resultat</button> </a>
    <a href="/user"> <button class="button2">Till Röstning</button> </a>
    <a href="/userEditing"> <button class="button2">Till Användare Lista</button> </a>
</div>

<!-- Font Awesome CDN for the menu icon -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>

<div class="tableExtra">
        <select name="yearSelect" id="yearSelect">
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023" selected="selected">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
        </select>
    <button id="confirmButton" class="button1" logoutBtn>Bekräfta ändringar</button>
    <h1 class="pageName">Lägga Till Låtar</h1>
</div>

<table id="adminTable" class="container">
    <thead>
    <tr>
        <th><h1>Låt</h1></th>
        <th><h1>Artist</h1></th>
        <th><h1>Kategori</h1></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script th:inline="javascript">
      document.onload = initAdminPage();

</script>
</body>
</html>