<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link th:href="@{/stylesheet.css?version=91}" rel="stylesheet"/>
<script type="text/javascript" th:src="@{/script.js?Num=60}"></script>
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<center> <h1> LOGIN: VERSION 0.2 </h1> </center>

    <div class="container">
        <label>Username : </label>
        <input id="usernameInput" type="text" placeholder="Enter Username" name="username" >
        <label>Password : </label>
        <input id="passwordInput" type="password" placeholder="Enter Password" name="password">
        <button  id="loginButton">Login</button>
    </div>
<div id="textDiv">
<H1>TEST INFO FÖR TESTARE:</H1>
<p>logga in som admin = username:admin, password:admin</p>
<p>logga in som thorsten = username:thorsten, password:thorsten</p>
<p>sidor som finns: login, user, admin, votes</p>
</div>
<script th:inline="javascript">
const loginButton = document.querySelector("#loginButton");
  loginButton.addEventListener("click", () => {
    attemptLogin();
  });

function handleKeyPress(event) {
        if (event.keyCode === 13) {
            attemptLogin();
        }
    }
document.addEventListener('keypress', handleKeyPress);
</script>
</body>


</html>