<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link th:href="@{/stylesheet.css}" rel="stylesheet"/>
<script type="text/javascript" th:src="@{/script.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<center> <h1> LOGIN: VERSION 0.2 </h1> </center>

    <div class="container">
        <label class="loginLabel">Username</label>
        <input class="loginInput" id="usernameInput" type="text" placeholder="Enter Username" name="username" >
        <label class="loginLabel">Password</label>
        <input class="loginInput" id="passwordInput" type="password" placeholder="Enter Password" name="password">
        <button  id="loginButton">Login</button>
    </div>
<script th:inline="javascript">
const loginButton = document.querySelector("#loginButton");
  loginButton.addEventListener("click", () => {
    attemptLogin();
  });

function handleKeyPress(event) {
        if (event.keyCode === 13) {
            attemptLogin();
        }
    }
document.addEventListener('keypress', handleKeyPress);
</script>
</body>


</html>