<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link th:href="@{/stylesheet.css?version=68}" rel="stylesheet"/>
<script type="text/javascript" th:src="@{/script.js?Num=32}"></script>
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<center> <h1>  </h1> </center>

    <div class="container">
        <label>Username : </label>
        <input id="usernameInput" type="text" placeholder="Enter Username" name="username" >
        <label>Password : </label>
        <input id="passwordInput" type="text" placeholder="Enter Password" name="password">
        <button  id="loginButton">Login</button>
    </div>


<script th:inline="javascript">
      document.getElementById("loginButton").addEventListener("click", function(){
        initLoginPage()

});

</script>
</body>


</html>