<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link th:href="@{/stylesheet.css?version=68}" rel="stylesheet"/>
<script type="text/javascript" th:src="@{/script.js?Num=27}"></script>
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<div id="topDiv">
    <div><button id="saveToDbButton">Spara till Databas</button></div>
</div>



<div id="tableDiv"></div>




<script th:inline="javascript">
      var dbResponse = /*[[${DBresponse}]]*/;
      document.onload = init(dbResponse, 'user');

</script>
</body>
</html>