<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link th:href="@{/stylesheet.css?version=91}" rel="stylesheet"/>
<script type="text/javascript" th:src="@{/script.js?Num=65}"></script>
<head>
    <meta charset="UTF-8">
    <title>Användare SKAPNING</title>
</head>
<header> ADMIN - SKAPA ANVÄNDARE </header>
<body>
<div id="topDiv">

    <p id="userLoggedIn"></p>
    <a href="login"> <button id="logoutBtn" class="button2">logga ut</button> </a>
</div>
<table id="userEditingTable">
    <thead>
    <tr>
        <th>UserID</th>
        <th>Username</th>
        <th>Password</th>
    </tr>
    </thead>
    <tbody id="tbodyID"> </tbody>
</table>


<button id="addBtn">Add</button>
<button id="removeBtn">Delete Selected</button>
<button id="editBtn">Edit Selected</button>





<script th:inline="javascript">
    document.onload = userEditingInit();


</script>
</body>
</html>