<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link th:href="@{/stylesheet.css?version=91}" rel="stylesheet"/>
<script type="text/javascript" th:src="@{/script.js?Num=45}"></script>
<head>
    <meta charset="UTF-8">
    <title>Röster</title>
</head>
<header> RÖSTER </header>
<body>
<div id="topDiv">
    <select name="yearSelect" id="yearSelect" >
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023" selected="selected">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
    </select>

    <select name="userSelect" id="userSelect" >
        <option value="alla">alla</option>
        <option value="1">Joel</option>
        <option value="2">Thorsten</option>
        <option value="4">Samuel</option>
    </select>
    </div>
<a href="login"> <button id="logoutBtn" class="button2">logga ut</button> </a>
<a href="admin"> <button id="adminBtn" class="button2">till admin</button> </a>

    <div id="tableDiv">

    </div>




    <script th:inline="javascript">
      var voteList = /*[[${voteList}]]*/;
      document.onload = initVotePage(voteList);

</script>
</body>
</html>